html {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #757575;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  display: none;
}

.contacts__icon, .peculiarities__icon {
  display: inline-block;
}

.header__container, .page-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav, .contacts, .peculiarities {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.webstudio-logo, .nav__link, .contacts__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  color: inherit;
  text-transform: none;
  background: transparent;
}

.button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  -webkit-box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.15);
  background: #2196f3;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 0.4rem;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background: #188ce8;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.webstudio-logo {
  font-weight: bold;
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 2.6rem;
  line-height: 1.192;
  letter-spacing: 0.03rem;
  color: #000;
}

.webstudio-logo__prefix {
  color: #2196f3;
}

.webstudio-logo__left-margin {
  margin-right: 9.3rem;
}

.header {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  border: 0.1rem solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  color: #212121;
}

.nav__item:not(:last-child) {
  margin-right: 5rem;
}

.nav__link {
  position: relative;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current::after, .nav__link::after {
  position: absolute;
  bottom: -0.1rem;
  right: 0;
  content: '';
  display: block;
  height: 0.4rem;
  width: 100%;
  background-color: #2196f3;
  border-radius: 0.2rem;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link::after {
  opacity: 0;
}

.nav__link:hover::after, .nav__link:focus::after, .nav__link--current::after {
  opacity: 1;
}

.nav__link--current, .nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 3rem;
}

.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: #2196f3;
}

.contacts__icon {
  margin-right: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-section {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.page-section--peculiarities {
  padding-top: 8.5rem;
}

.page-section__hero {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-our-compay.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-our-compay.jpg);
  background-repeat: no-repeat;
  background-size: 160rem;
  background-position: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.page-section--dark {
  background-color: #2f303a;
  color: #fff;
}

.page-section--light {
  background-color: #f5f4fa;
}

.page-section__hero-title {
  margin-top: 0rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 69.6rem;
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.peculiarities {
  line-height: 1.15;
  font-size: 1.4rem;
  letter-spacing: 0.03em;
  margin-left: -3rem;
}

.peculiarities__item {
  max-width: 27rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.peculiarities__icon-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12rem;
  margin-bottom: 3rem;
  background-color: #f5f4fa;
  border-radius: 0.4rem;
}

.peculiarities__icon {
  width: 7rem;
  height: 7rem;
}

.peculiarities__title {
  font-size: 1.4rem;
  letter-spacing: calc(var(--list-font-size) * 0.03);
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.14286;
  text-transform: uppercase;
  font-weight: 800;
}
/*# sourceMappingURL=main.css.map */