.peculiarities {
    @extend %list;
    line-height: 1.15;
    font-size: 1.4rem;
    letter-spacing: 0.03em;

    margin-left: -3rem;

    &__item {
        max-width: 27rem;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }


    &__icon-card {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12rem;
        margin-bottom: 3rem;

        background-color: $background-light-color;
        border-radius: 0.4rem;
    }

    &__icon {
        @extend %svg;
        width: 7rem;
        height: 7rem;
    }

    &__title {
        font-size: 1.4rem;


    letter-spacing: calc(var(--list-font-size) * 0.03);

    margin-top: 0;
    margin-bottom: 10px;

    line-height: 1.14286;
    text-transform: uppercase;
    font-weight: 800;
    }

    &__description {
    }

}

