.page-section {
    font-family: $main-font-family;
    line-height: 1.15;
    text-align: center;
    color: $font-accent-secondary-color;

    &--peculiarities {
        padding-top: 8.5rem;
    }


    &__hero {
        background-image:   linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                            url(../images/hero-our-compay.jpg);
        background-repeat: no-repeat;
        background-size: 160rem;
        background-position: center;
        padding-top: 20rem;
        padding-bottom: 20rem;
    }

    &--dark {
        background-color: $background-dark-color;
        color: $font-light-color;
    }

    &--light {
        background-color: $background-light-color;
    }

    .container {
        @extend %container;
    }

    &__hero-title {
        margin-top: 0rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 69.6rem;
        font-size: 4.4rem;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;

    }
}
