.page-section {
    font-family: $main-font-family;
    line-height: 1.15;
    padding-top: 20rem;
    padding-bottom: 20rem;
    text-align: center;
    background-color: $background-dark-color;

    background-image:   linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url(../images/hero-our-compay.jpg);
    background-repeat: no-repeat;
    background-size: 160rem;
    background-position: center;

    .container {
        @extend %container;
    }

    &__hero-title {
        margin-top: 0rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 69.6rem;
        font-size: 4.4rem;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $font-light-color;
    }
}
